<h1>51yue.jp</h1>

<p><%= @user.name %>様</p>

<p>
この度は51yue.jpサイトにご登録いただきましてありがとうございます。
登録メールアドレス:<%= @user.email %>
パスワード:* * * * * *
51yue.jpサイトからの大切なお知らせが正しく届いているかを確認するため、 登録メールアドレスの確認を行ないます。下記のリンクをクリッ クしてください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>



・--------------------------------------------------------------------------------------------・
当メールは送信専用です。当メールにお心当たりのない方は恐れ入りますが 破棄の上、上記までご連絡ください。またこのメールについては一切の 開示、複写、配布、その他の利用、または記載内容に基づくいかなる行動も されないようお願いいたします。 