<!--<% provide(:title, @user.name) %> -->
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
    </section>
    <a href= "http://cn.gravatar.com/" >更换头像</a> 
  </aside>
</div>